.main-user-consent-request a{
    font-size:16px !important;
    color:#333333;
    font-weight: normal !important;
    line-height: 1.5;
}
.error-block-lisense{
    font-size: 12px;
    color:red;
    margin: 5px 0;
}