/**Top menu**/




/*Links*/
#horizontal-multilevel-menu a
{
	display:block;
	text-decoration:none;
	text-align:center;
}
/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	top: 35px;
	display: none;
	z-index: 500;
	left: -26px;
	height: auto;
	/* width: 12em; */
	width: 200px;
	background: #ffffff;
	box-shadow: 0px 3px 15px 0px rgb(62 65 67 / 20%);
	padding-left: 27px;
	padding-top: 21px;
	box-sizing: border-box;
	padding-bottom: 11px;
}
#horizontal-multilevel-menu li{
	height: 35px;
}
#horizontal-multilevel-menu li ul>li{
	margin-bottom: 14px;
}
/*Sub-menu item box*/
#horizontal-multilevel-menu li li
{
	width:100%;

}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	text-align:left;
}




#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}
