

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.slideshow .slideshow-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slideshow .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.slideshow .slide {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
    display: block;
}
.slideshow .slide.is-loaded {
    opacity: 1;
}
.slideshow .slide .caption {
    width: 1302px;
    padding-top: 211px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: calc(100% - 211px);
}
.slideshow .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    background-position: center;
    z-index: 1;
    background-size: cover;

}
.slideshow .slide .image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slideshow .slide .image {
    width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.slideshow .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #000000;
    margin: 0 auto;

}



.slideshow .arrows .arrow {
    position: absolute;
    top: 297px;
    cursor: pointer;
    z-index: 3;
}
.slideshow .arrows .next{
    right: 11px;
}

.slideshow .arrows .next:hover .svg {
    left: 10px;
}
.slideshow .arrows .svg {
    position: relative;
    left: 0;
    width: 14px;
    height: 26px;
    fill: #fff;
    transition: left 0.2s ease;
}